.footer {
  //
  border-top: 1px solid currentColor;
  //
  @include grid;
  //
  align-items: flex-start;
  //
  @include respond("portrait") {
    justify-content: center;
  }
  //
  padding: 2rem;
  //
  color: inherit;
  //
  & > * {
    text-decoration: none;
    min-height: unset;
    width: 100%;
    //
  }
  //
  .copyright {
    grid-column: start / col-end 1;
    //
    & a {
      display: inline-block;
      //
      font-size: 100%;
    }
    //
    @include respond("portrait") {
      grid-column: start / end;
      //
      text-align: center;
      //
    }
    //
    //  asd
    //
  }
  //
  p,
  .copyright,
  .acreditation__link {
    font-size: 2.1rem;
    //
  }
  //
  .acreditation__container {
    margin-left: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    //
    grid-column: col-start 3 / end;
    //
    @include respond("portrait") {
      flex: 0 0 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      //
      grid-column: start / end;
    }
    //
  }
  //
  .acreditation__caption {
    flex: 0 0 100%;
    text-align: end;
    border-bottom: 1px solid var(--secondary);
    //
    padding: 0.187em 0.375em;
    //
    @include respond("portait") {
      text-align: start;
      //
    }
    //
  }
  //
  p,
  .acreditation__link {
    display: block;
    //
  }
  //
  .acreditation__link {
    margin-top: 0.5em;
    //
  }
  //
}
