.landing {
  background: var(--dark);
  align-content: flex-end;
  //
  height: calc(100vh - 21rem);
  //
  //
  //
  &::after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, var(--dark) 11%, transparent 99%);
    //
  }
  //
  //
  //
  &__container {
    grid-column: col-start 3 / end;
    padding: 0 6rem;
    //
  }
  //
  //
  //
  &__heading {
    font-size: 150%;
    //
    font-family: 'Monofett', cursive;
    //
    color: var(--white);
    //
    cursor: default;
    user-select: none;
    //
    width: 100%;
    display: flex;
    justify-content: flex-end;
    //
    &,
    & * {
      line-height: 1;
      //
    }
    //
    //
    //
    & span {
      font-size: .66em;
      //
      font-family: "overpass", sans-serif;
      font-weight: 100;
      //
      text-transform: uppercase;
      //
      margin-top: .4em;
      //
    }
    //
  }
  //
}