.landing {
  align-content: flex-end;
  //
  &__container {
    grid-column: col-start 3 / end;
    padding: 0 6rem;
    //
  }
  //
  //
  //
  &__heading {
    //
    font-family: 'Monofett', cursive;
    //
    color: var(--dark);
    //
    cursor: default;
    user-select: none;
    //
    width: 100%;
    display: flex;
    justify-content: flex-end;
    //
    &,
    & * {
      line-height: 1;
      //
    }
    //
    //
    //
    & span {
      font-size: .66em;
      //
      font-family: "overpass", sans-serif;
      font-weight: 100;
      //
      text-transform: uppercase;
      //
      margin-top: .4em;
      //
    }
    //
  }
  //
}